body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Fundo cinza claro */
    color: #333; /* Texto escuro */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* Fundo branco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.header h1 {
    font-size: 2em;
    color: #4CAF50; /* Verde */
}

.home-button {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 20px;
}

.home-icon {
    width: 40px;
    height: auto;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Espaço abaixo do botão */
}

.new-record-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
}

.new-record-button:hover {
    background-color: #45a049;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    width: 200px;
}

.search-button {
    background: url('search_icon.png') no-repeat center center;
    background-size: contain;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.content {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #333;
    color: white;
    padding: 10px;
}

tbody td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.edit-button {
    background: url('edit_icon.png') no-repeat center center;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #f0f0f0;
}

.acoes-coluna a {
    text-decoration: none;
}

.acoes {
    display: flex;
}
