body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  background-image: url('public/fundo.png'); 
  background-size: cover;
  background-position: center;
  position: relative;
}

header {
  background-color: rgba(10, 39, 64, 0.9); 
  padding: 20px 20px 20px 0;
  text-align: center;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bandeira {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

header h1 {
  font-size: 2.5em;
  margin: 0;
}

.admin-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #007bff; /* Azul */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.admin-button:hover {
  background-color: #0056b3; /* Azul escuro */
}

.container {
  text-align: center;
  padding: 50px;
  background-color: rgba(10, 39, 64, 0.8); 
  border-radius: 10px;
  margin: 50px auto;
  width: 80%;
  max-width: 1000px;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.content h2 {
  font-size: 2em;
  margin-top: 20px;
}

.content p {
  font-size: 1.2em;
  margin: 20px 0;
  line-height: 1.5;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.botao {
  display: inline-block;
  padding: 20px 40px;
  margin-top: 20px;
  font-size: 1.2em;
  color: white;
  background-color: #ff0000; /* Vermelho */
  text-decoration: none;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
  transition: background-color 0.3s, transform 0.3s;
}

.botao:hover {
  background-color: #cc0000; /* Vermelho escuro */
  transform: scale(1.05);
}

@media (min-width: 600px) {
  .options {
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
  }

  .botao {
      margin-top: 0;
      margin-left: 10px;
      margin-right: 10px;
  }
}





/* Estilo do Pop-up */
.popup {
  display: none; /* Oculto por padrão */
  position: fixed; /* Fica fixo na tela */
  z-index: 1; /* Fica na frente de outros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  overflow: auto; /* Habilita rolagem se necessário */
  background-color: rgb(0,0,0); /* Fundo preto com opacidade */
  background-color: rgba(0,0,0,0.4); /* Fundo preto com opacidade */
}

/* Conteúdo do Pop-up */
.popup-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% do topo e centro horizontalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Pode ajustar a largura conforme necessário */
}

/* Botão de Fechar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

